---
layout: default
---

{% include header.html %}

<main class="post__archive" id="postArchive">
  {%- include header_nav.html -%}
  {%- if site.status -%}
  {%- include status.html -%}
  {%- endif -%}
  <!-- 页面导航生成 -->
	{%- if site.categories.size > 0 -%}
  <nav class="blog__categories">
    <a href="#all" data-category="all" class="category active nav-link"><font face="Times New Roman">{{ site.theme_setting.lang.category_all | default: "Blogs" }}</font></a>
    {%- for category in site.categories %}
      <!-- 下面这行代码用于隐藏category为Dairy的导航 -->
      {%- if category[0] != 'Dairy' and category[0] != 'Study,Code'-%}
      <a href="#{{ category[0] }}" class="category nav-link" data-category="{{ category[0] }}"><font face="Times New Roman">{{ category[0] }}</font></a>
      {%- endif -%}
    {%- endfor %}
  </nav>
	{%- endif -%}
  <!-- 页面导航结束 -->

  <!-- 页面展示生成 -->
  <div class="post__list archive__list">
    <!-- 按照年份分类 -->
    {%- assign years = site.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
    <!-- 展示每一年的文章 -->
    {%- for year in years %}
    <!-- 没有写过文章的年份，但是其他tag下写过文章的年份，就不展示了 -->
    <!-- 例如tag为douban的写过2020年的文章，但是tag为notdouban的没有写过2020年的文章 -->
    <!-- 在notdouban的页面里面就不用显示2020年，以免累赘 -->
      {%- for post in year.items-%}
        {%- if post.tag == 'notdouban' -%}
          <h3 class="post__list_title"><font face="Times New Roman">{{ year.name }}</font></h3>
          <!-- 只执行一次，不然会产生很多个年份 -->
          {% break %}
        {%- endif -%}
      {%- endfor-%}
      {%- assign posts = year.items %}      
      <!-- 以列表形式展示文章 -->
      <ul>
        <!-- 展示所有文章 -->
        {%- for post in posts %}
        {%- if post.tag == 'notdouban' -%}        
          <li class="post__list_item" data-category="{{ post.categories | join: ';' }}" {% if post.img %}data-img="{{ post.img | img_url_prefix }}"{% endif %}>
            <a href="{{ post.url | relative_url }}">
              <span class="archive__time"><font face="Times New Roman">{{ post.date | date: "%Y-%m-%d" }}</font></span>
              <span class="archive__title"><font face="华文中宋">{{ post.title }}</font></span>
            </a>
          </li>
        {%- endif -%}
        {%- endfor -%}
      </ul>
    {%- endfor %}
  </div>
  <!-- 页面展示结束 -->
</main>
{%- include footer.html -%}
