---
layout: default
---
{%- include header.html -%}
<main class="post__wrapper">
  {%- include header_nav.html -%}
  <div class="post__top_navs clearfix">
    <nav class="post__archive_path">
      {%- assign blog_page_path = site.theme_setting.blog_page | default: "index.md" %}
      {%- assign blog_page = site.pages | where: "path", blog_page_path | first -%}
      <!-- 用于返回不同的页面，tag为douban则返回douban页面，否则返回表页面 -->
      {%- if page.tag == 'douban' -%}
      <a href="/douban" id="archiveBtn">
      {%- else -%}
      <a href="/" id="archiveBtn">
      {%- endif %}
        <div class="post__archive_icon">
          <svg width="40" height="40">
            <circle class="circle-progress" r="18" cy="20" cx="20"  stroke-linejoin="round" stroke-linecap="round" />
          </svg>
          <span class="post__archive_icon"></span>
        </div>
        <font face="华文中宋">
        {{ site.theme_setting.lang.blog_title | default: site.title }}
        </font>
      </a>
    </nav>
  </div>
  <article class="post">
    <header class="post__header">
      <h1 class="post__title"><font face="华文中宋">{{ page.title | escape }}</font></h1>
      <div class="post__meta">
        <time><font face="Times New Roman">{{ page.date | date: "%Y-%m-%d" }}</font></time>
      </div>
    </header>
    <div class="post__content content">
      <font face="华文中宋">
      {{ content | toc | img_prefix }}
      </font>
    </div>
  </article>
  {%- if site.comment.enabled -%}
  {% include comments.html -%}
  {%- else -%}
  {% include contact.html -%}
  {%- endif -%}
</main>
{%- if site.theme_setting.code or page.code -%}
  <script>hljs.initHighlightingOnLoad();</script>
{%- endif -%}
{%- include footer.html -%}
